.create-workout {
  border: 1px solid grey;
  border-radius: 10px;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.create-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-alert {
  display: flex;
  align-items: center;
  background-color: rgb(229, 229, 229);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  gap: 20px;
}

/* .create-button {
} */

@media only screen and (max-width: 1080px) {
  .create-workout {
    flex-direction: column;
  }
  .btn {
    margin-top: 20px;
  }
}
