.header-image-container {
  position: relative;

}

.main-header-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.todays-workout {
  display: flex;
  justify-content: center;
  font-size: larger;
  padding-top: 25px;
  padding-bottom: 15px;
}

.daysworkout-back {
  display: flex;
  justify-content: center;
}

.row-days {
  margin: 0;
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
}

.workout-name {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin: 20px;
  margin-bottom: 40px;
  border: solid 3px;
  border-radius: 10px;
}

.main-workout-container {
  padding-bottom: 15px;
}


@media (min-width: 768px) {

  .row-cols-md-2>* {
    flex: 0 0 auto;
    width: 100% !important;
  }
}


.exer-info{
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.card {
  margin-left: 10%;
  margin-right: 10%;
}

.border-top-bar {

}