.img-container {
  position: relative;
}

.home-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.img-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img-container .heading-comment {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}

.home-img2 {
  width: 50%;
  height: 50%;
}

.section1-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.section2-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .heading-comment {
    font-size: 1rem !important;
  }
  .section1-container {
    flex-direction: column;
  }
  .section2-container {
    flex-direction: column-reverse;
  }
}
