.home-img2 {
  width: 49%;
  height: 49%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.section1-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.section2-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}


.info-textbox {
  margin: 10px;
  border: solid 2px;
  padding: 10px;
}

.footer-img-one {
  margin-top: 25px;
  display: flex;
  flex-direction: row;

}

.motiv-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.info-card-title {
font-size: medium;
color: rgb(0, 112, 255);
}


.info-card-info {
  font-size: 20px !important;
  color: rgb(56, 55, 55);
}

.info-card-about{
  font-size: 20px !important;
  color: rgb(143, 141, 141);
}


.home-info-card {
  margin: 90px !important;
}


/* .home-info-card-two{
 
} */

@media only screen and (max-width: 600px) {
  .heading-comment {
    font-size: 1rem !important;
  }
  .section1-container {
    flex-direction: column;
  }
  .section2-container {
    flex-direction: column-reverse;
  }
}
