.home-img2 {
  width: 50%;
  height: 50%;
}

.section1-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.section2-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .heading-comment {
    font-size: 1rem !important;
  }
  .section1-container {
    flex-direction: column;
  }
  .section2-container {
    flex-direction: column-reverse;
  }
}
