.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.my-workouts-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.workout-pic-info {
  font-size: x-large;
}
.heading-comment{
  text-shadow: 2px 2px black;
  word-wrap: off;
  width: 60%;
}

.my-workouts-card-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px grey;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 90px;
  padding-bottom: 0px;
}

.my-schedule-image {
  height: 70vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
}

.go-to-schedule {
  font-size: 1.5vw;
  padding: 10px;
  border: solid 3px;
  margin-top: 20px;
  border-radius: 25px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}


.btn-btn-primary:hover {
  background-color: rgb(49, 108, 244);
  color: #ffffff;
  transition: 0.7s ease;
}

.image-container {
  position: relative;
}

.main-image {
  display: flex;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  filter: brightness(0.6);
}

.image-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.broad-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 990px) {
  .my-workouts-grid {
    display: flex;
    flex-direction: column;
  }
}
