.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.my-workouts-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.workout-pic-info{
  font-size: x-large;
}

.my-workouts-card-image {
  width: 350px;
  height: 400px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.schedule-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
padding: 90px;
}

.my-schedule-image {
height: 700px;
position: relative;
border-radius: 25px;

}

.go-to-schedule {
  font-size: xx-large;
  padding: 10px;
  border: solid 3px;
  margin-top: 20px;
}



a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.btn-btn-primary {
  background-color: #f8f8f8;
  color: rgb(49, 128, 214);
    border-radius: 25px;
    width: 100%;
}

.btn-btn-primary:hover {
  background-color: rgb(64, 132, 216);
  color: #FFFFFF;
  transition: 0.7s ease;
}

.image-container {
  position: relative;
}

.main-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.image-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}